# program and plugin binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary (built with `go test -c`)
*.test

# build output
*.out
/gargantua*

# JetBrains local files
.idea

# testing artifacts
artifacts/testing
/bin

# local run files
/.env
/.ssl

kubeconfig
ko