go 1.22.0

use (
	.
	./v3
	./v3/services/accesscodesvc
	./v3/services/authnsvc
	./v3/services/authrsvc
	./v3/services/conversionsvc
	./v3/services/rbacsvc
	./v3/services/settingsvc
	./v3/services/usersvc
	./v3/services/scoresvc
	./v3/services/dbconfigsvc
	./v3/services/vmclaimsvc
	./v3/services/vmsetsvc
	./v3/services/progresssvc
	./v3/services/vmtemplatesvc
	./v3/services/vmsvc
	./v3/services/sessionsvc
	./v3/services/scheduledeventsvc
	./v3/services/environmentsvc
	./v3/services/scenariosvc
	./v3/services/coursesvc
	./v3/services/terraformsvc
)

replace k8s.io/client-go => k8s.io/client-go v0.29.1
